@charset "UTF-8";
body.dark {
    color: #a1a1a1;
}
.container.dark {
    background: #141518;
}
/* ==========
 * 공통 style
 * ========= */
/* -------
 * button 
 * ------ */
.container.dark .btn-st1 {background: #334596;}
.container.dark .btn-st1:hover {background: #283778;}
.container.dark .btn-st2 {background: #5a6e9b;}
.container.dark .btn-st2:hover {background: #465a82;}

.container.dark .btn-st5 {background: #47474d; color: #fff; opacity: .7;}
.container.dark .btn-st5:hover {opacity: 1;}
.container.dark .btn-st6 {background: #302f32; color: #FFF;}
.container.dark .btn-st6:hover {background: #47474d;}
.container.dark .btn-st6:hover .fa {opacity: 1;}

.container.dark .btn_excel {
    background: rgba(10,187,135,.15);
    color: #0ABB87;
    border: 1px solid #0ABB87;}
.container.dark .btn_excel:hover {
    background: #0ABB87; color: #fff; transition: .25s;}

.container.dark .filter-ck input + span {
    box-shadow: 0 0 0 1px #8796be inset;
}
.container.dark .filter-ck input + span:hover,
.container.dark .filter-ck input:checked + span {
    box-shadow: 0 0 0 1px #fff inset;
    color: #fff;
}

/* ----------------------
 * input,select,textarea 
 * ---------------------- */
.container.dark input[type="text"],
.container.dark input[type="search"],
.container.dark input[type="date"],
.container.dark input[type="time"],
.container.dark input[type="number"],
.container.dark select,
.container.dark textarea {
    background: #302f32;
    color: #c0c0c0;
    border: 1px solid #47474d;
}
.container.dark select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../images/select-arrow.png) no-repeat right 8px center;
    background-size: 10px;
    background-color: #302f32;
}
.container.dark input[type="text"]:focus,
.container.dark input[type="search"]:focus,
.container.dark input[type="date"]:focus,
.container.dark input[type="time"]:focus,
.container.dark input[type="number"]:focus,
.container.dark select:focus,
.container.dark textarea:focus {
    background: transparent;
    border: 1px solid #0361ff;
    box-shadow: 0 0 0 0.5px rgba(0, 97, 255, 1);
    caret-color: #0361ff;
}
.container.dark select:focus {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../images/select-arrow_focus.png) no-repeat right 8px center;
    background-size: 10px;
}
.container.dark .readonly input[type="text"]:focus,
.container.dark .readonly input[type="search"]:focus,
.container.dark .readonly input[type="date"]:focus,
.container.dark .readonly input[type="time"]:focus,
.container.dark .readonly input[type="number"]:focus,
.container.dark .readonly select:focus,
.container.dark .readonly textarea:focus {
    background: transparent;
    border: 1px solid #47474d;
}
.container.dark input::placeholder,
.container.dark textarea::placeholder {
    color: #64646e;
}
.container.dark input.readonly:focus {
    background: #302f32 !important;
    border: 1px solid #47474d !important;
}

/* ----------------
 * radio, checkbox 
 * ---------------- */
/* 체크박스 + 텍스트 */
.container.dark input[class="ck_txt"] + span:before {
    border: 1px solid #A1A1A1; background: transparent;}
.container.dark input[class="ck_txt"]:checked + span:before {
    background: url(../images/check_w.png) #0361ff no-repeat center;
    border: 1px solid #0361ff; background-size: 10px;
}
/* 텍스트X, 개별 체크박스(테이블 내부에서 사용됨) */
.container.dark table[class*="con-list"] input[class="ck_only"] + span {
    border: 1px solid #A1A1A1;
}
.container.dark table[class*="con-list"] input[class="ck_only"]:checked + span {
    background: url(../images/check_w.png) #0361ff no-repeat center;
    border: 1px solid #334596; background-size: 10px;
}

/* 라디오 + 텍스트 */
.container.dark input[class="radio_txt"] + span:before {
    border: 1px solid #A1A1A1; background: transparent;}
.container.dark input[class="radio_txt"]:checked + span:before {
    background: url(../images/radio_w.png) #0361ff no-repeat center;
    border: 1px solid #0361ff; background-size: 8px;
}
/* 텍스트X, 개별 라디오(테이블 내부에서 사용됨) */
.container.dark table[class*="con-list"] input[class="radio_only"] + span {
    border: 1px solid #A1A1A1;
}
.container.dark table[class*="con-list"] input[class="radio_only"]:checked + span {
    background: url(../images/radio_w.png) #0361ff no-repeat center;
    border: 1px solid #0361ff; background-size: 8px;
}

/* ------------
 *  Toggle 토글  
 * ------------*/
.container.dark .toggle + span { 
    background: #64646e;
}
.container.dark .toggle:checked + span {background: #0361ff;}

/* --------------
 *  Paging 페이징  
 * --------------*/
.container.dark .paging li[class*="page_"] {
    background: #302f32; }
.container.dark .paging li[class*="page_"]:hover {
    background: #47474d; opacity: 1;}
.container.dark .paging li[class*="num"] {font-size: 14px; font-weight: 400;
    border: 1px solid #47474d;
}
.container.dark .paging .num:hover { 
    background: #47474d; color: #fff; opacity: 1;
    transition: 0.25s;}
.container.dark .paging .num_this {
    background: #47474d;
    border: 1px solid #47474d !important;}

/* border line */
.container.dark .t-line {border-top: 1px solid #323339;}
.container.dark .l-line {border-left: 1px solid #323339;}
.container.dark .r-line {border-right: 1px solid #323339;}
.container.dark .b-line {border-bottom: 1px solid #323339;}

/* 테이블내 텍스트 icon화 */
.container.dark *[class*="txt-group"] {color: #fff;
    border-radius: 13px;
}
.container.dark .txt-group_0 {background: rgba(255,0,140,.2);
    color: #ff4caf; border: 1px solid #ff4caf;
}
.container.dark .txt-group_1 {background: rgba(10,187,135,.2); 
    color: #0ABB87; border: 1px solid #0ABB87;
}
.container.dark .txt-group_2 {background: rgba(255,146,40,.2); 
    color: #FC9228; border: 1px solid #FC9228;
}
.container.dark .txt-group_3 {background: rgba(40,130,255,.2); 
    color: #2883ff; border: 1px solid #2883ff;
}
.container.dark .txt-group_4 {background: rgba(241,93,93,.2); 
    color: #f15d5d; border: 1px solid #f15d5d;
}
.container.dark .txt-group_5 {background: rgba(210,140,70,.2); 
    color: #d28c46; border: 1px solid #d28c46;
}
.container.dark .txt-group_6 {background: rgba(190,85,230,.2); 
    color: #be55e6; border: 1px solid #be55e6;
}
.container.dark .txt-group_7 {background: rgba(130,100,255,.2); 
    color: #8264ff; border: 1px solid #8264ff;
}
.container.dark .txt-group_8 {background: rgba(192,192,192,.2); 
    color: #c0c0c0; border: 1px solid #c0c0c0;
}

/* ------
 * table
 --------*/
.container.dark table {
    color: inherit;
}
.container.dark .list-area {
    border-top: 1px solid #47474d;
    border-bottom: 1px solid #47474d;
}
.container.dark .list-area.round {
    border: 1px solid #47474d;
}
.container.dark .list-area.dp_flex .list-area~.list-area {
    border-left: 1px solid #47474d !important;
}

/* con-list */
.container.dark .con-list {
    color: #a1a1a1;
}
.container.dark .con-list thead tr {
    border-bottom: 0;
}
.container.dark .con-list thead tr~tr {
    border-top: 1px solid #5c5c64;
}
.container.dark .con-list tbody tr:hover {
    background: #141518;
    color: #fff;
}
.container.dark .con-list th {
    background: #47474d;
    color: #eeedf0;
}
.container.dark .con-list th~th {
    border-left: 1px solid #5c5c64;
}
.container.dark .con-list td~td {
    border-left: 1px solid #3c3c42
}
.container.dark .con-list td {
    border-bottom: 1px solid #47474d;
}
/* con-list.colspan */
.container.dark .con-list.colspan th {
    border-right: 1px solid #5c5c64;
}
.container.dark .con-list.colspan td {
    border-left: 1px solid #3c3c42;
    border-right: 1px solid #3c3c42;
}
.container.dark .con-list.colspan tr th:first-child,
.container.dark .con-list.colspan tr td:first-child {
    border-left: 0;
}
.container.dark .con-list.colspan tr th:last-child,
.container.dark .con-list.colspan tr td:last-child {
    border-right: 0;
}

/* table-ver2 */
.container.dark .table-ver2 tr th {
    color: #eeedf0;
}
/* table-ver22 */
.container.dark .table-ver22 th {
    color: #eeedf0;
}

.container.dark .img_icon {
    background: #56555a;
    color: #fff; 
}
.container.dark .img_icon.com {
    background: #0ABB87;
}
.container.dark .img_icon.mod {
    background: #8756f9;
}

/* ------------------------------------------------------
   항목 설명 design **상위 요소에 position: relative 속성 적용**
   ------------------------------------------------------ */
.container.dark .txt_detail {
    background: #64646E;
}
.container.dark button:hover .txt_detail, 
.container.dark span:hover .txt_detail,
.container.dark label:hover .txt_detail,
.container.dark th:hover .txt_detail,
.container.dark td:hover .txt_detail {visibility: visible; 
    opacity: .9; 
    transition: all .25s;
}

/* =============
 *   사이드 영역
 * =============*/
.container.dark .side_menu,
.container.dark input[id="side-toggle"]:checked + label {
    background: #212127;
    border-right: 1px solid #323339;
}

.container.dark .side_menu .side_logo {
    border-bottom: 1px solid #323339;
}
.container.dark .btn_side-toggle .fa {
    color: #f5f5f5;
}
.container.dark input[id="side-toggle"] + label .toggle-menu {
    border-top: 1px solid #323339;
}

.container.dark .btn_main-search {
    background: #57575b;
}
.container.dark .btn_main-search .fa {
    opacity: 0.7;
}
.container.dark .btn_main-search:hover .fa {
    opacity: 1;
}
.container.dark .side_menu ul.menu li a {
    color: #e0e0e0;
    background: transparent;
}

.container.dark .side_menu ul.menu > li > a:after {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-width: 0 1px 1px 0;
}
.container.dark .side_menu ul.menu > li > a.checked:after {
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-width: 0 1px 1px 0;
}

.container.dark .toggle-menu ul.menu li.checked .fa {
    color: #fff;
    background: #2e2e34;
}
.container.dark .side_menu ul.menu > li > a.checked:before,
.container.dark .toggle-menu ul.menu li.checked .fa:after {
    background: #0361ff;
}

.container.dark .side_menu ul.menu li a:hover .fa {
    color: #0361ff;
}
.container.dark .side_menu ul.menu li a.checked {
    color: #fff;
    background: #2e2e34;
}
.container.dark .side_menu ul.menu li a.checked .fa {
    color: #fff;
}
.container.dark .side_menu ul.menu li a + ul.sub li a {
    color: #fff;
}
.container.dark .side_menu ul.menu li a + ul.sub li a:before {
    background: #fff;
}
.container.dark .side_menu ul.menu li a.checked + ul.sub li a.checked {
    background: transparent;
}
.container.dark .btn_logout {
    color: #fff;
}
.container.dark .btn_logout:hover {
    color: #fff;
    background: #2e2e34; 
}

/* 접힘 후 - 아이콘 설명 텍스트 */
.container.dark  .toggle-menu ul.menu li .fa .txtview {
    background: #cfcfd7;
    color: #141518;
}
.container.dark  .toggle-menu ul.menu li .fa .txtview:before {
    border-right: 6px solid #cfcfd7;
}

/* =============================
 *  Light, Dark - Toggle Design
 * ============================= */
.toggle_lnd {
    position: relative;
    display: flex; align-items: center;
    height: 36px;
    border-radius: 18px;
    background: #e3e3e5;
}
.container.dark .toggle_lnd {
    background: #302f32;
}
.toggle_lnd span {
    display: flex; align-items: center;
    height: 36px;
    border-radius: 18px;
    transition: all .25s;
    cursor: pointer;
}
.toggle_lnd input + span {
    padding: 0 16px;
    background: #fff; 
    height: 38px;
    border-radius: 19px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.12);
    transition: all .25s;
}
.toggle_lnd input + span + span {
    padding: 0 20px;
}
.toggle_lnd input:checked + span {
    background: transparent;
    height: 36px;
    border-radius: 18px;
    box-shadow: none;
    transition: all .25s;
}
.toggle_lnd input:checked + span + span {
    background: #47474d; 
    height: 38px;
    border-radius: 19px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.12);
    transition: all .25s;
}



/* =============
 *    상단 바
 * =============*/
.container.dark .top-bar {
    background: #141518;
    color: #ebebf0;
    border-bottom: 1px solid #323339;
}
.container.dark .state-box {
    background: #47474d;
}
.container.dark .state_text {
    color: #ebebf0;
}
.container.dark .state_btn {
    background: #26262c;
}
.container.dark .btn_normal {
    background: #404149;
}
.container.dark .btn_normal:hover {
    color: #fff;
}
.container.dark .btn_active {
    background: #0361ff !important;
}

/* 상담 중 동작 버튼 */
.container.dark .state_btns label input + span {
    color: #89919B;
    background: #47474d;
}
.state_btns label input + span .fa {
    font-size: 15px;
    opacity: .7;
}
.container.dark .state_btns label input:hover + span {
    color: #fff;
}
.container.dark .state_btns label input:checked + span {
    background: #0361ff;
    color: #fff;
}
.state_btns label input:checked + span .fa {
    opacity: 1;
}
.container.dark .state_btns label .txtview {
    background: #6e6e78;
    color: #fff;
}
.container.dark .state_btns label .txtview:before {
    border-bottom: 4px solid #6e6e78;
}
.state_btns label:hover .txtview,
.state_btns label .txtview:hover {
    visibility: visible;
    opacity: 1;
    box-shadow: 0 2px 8px rgba(78,89,131,.3);
    transition: all .25s;
}

/* 상태 체크 */
.container.dark .state_check {
    background: #47474d;
}
.container.dark .btn_state + span:hover {
    background: #26262c;
    box-shadow: none;
}
.container.dark .btn_state:checked + span {
    background: #6e6e78;
    box-shadow: 0 1px 8px rgba(0,0,0,.25);
}

.container.dark .state_call ul li span:first-child {
    color: #b2b2b2;
}
.container.dark .state_call .ib_call {
    background: #F15D6F;
    color: #fff;
}
.container.dark .state_call .ob_call {
    background: #31BEB3;
    color: #fff;
}
.container.dark .state_call .wait_call {
    background: #FC9228;
    color: #fff;
}

.container.dark .btn-float {
    color: #ebebf0;;
}
.container.dark .btn-float.dot:after {
    border: 1.5px solid #000;
}

.container.dark .btn_drop input:checked:after {
    border-bottom: 6px solid #47474d;
}
.container.dark .dropdown_con {
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.8);
}
.container.dark .drop_top,
.container.dark .drop_con {
    background: #47474d;
}
.container.dark .drop_top {
    border-bottom: 1px solid #575759;
}
.container.dark .alret-num {
    background: #F15D6F;
    color: #FFF;
}
.container.dark .drop_con-list li~li {
    border-top: 1px solid #575759;
}

.container.dark .login-ment{
    color: #b2b2b2;
}
.container.dark .btn_chat_drop:hover + span,
.container.dark .btn_chat_drop:checked + span {
    background: #47474d;
}
/* drop_menu */
.btn_chat_drop:checked + span + .dropdown_menu {visibility: visible;
    opacity: 1;
    transition: .25s;}
.container.dark .dropdown_menu {
    background: #47474d;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.8);
}
.container.dark .dropdown_menu ul li {
    color: inherit;
}
.container.dark .dropdown_menu ul li .fa {
    color: inherit; opacity: .5;
}
.container.dark .dropdown_menu ul li a:hover {
    background: #302f32;
    color: #FFF;
}
.container.dark .dropdown_menu ul li a:hover .fa {
    opacity: .8;} 

.container.dark .dropdown_menu .login-num {
    background: rgba(10,187,135,.2);
    color: #1edca0;
}

/* =============
 *   콘텐츠 영역
 * =============*/
.container.dark .state-bar {
    background: #141518;
    color: #ebebf0;
    border-bottom: 1px solid #323339;
}
.container.dark .con-box_top {
    color: #fff;
    background: #212127;
}
.container.dark div[class*="modal-"] .con-box_top {
    border-bottom: 1px solid #323339;
}
.container.dark .con-box_top-sub {
    background: #56555a;
    color: #fff;
}
.container.dark .con-box_top-btn {
    background: transparent;
    color: inherit;
    border-left: 1px solid #323339;
}
.container.dark .con-box_top .list li~li:before {
    background: #323339;
}
.container.dark .con-box_top .list li.is_on:after {
    background: #0361ff;
}
.container.dark .con-box_bottom {
    border-top: 1px solid #323339;
    background: #212127;
}
.container.dark .con-area .con-box-area .con-box_top {
    border-left: 1px solid #323339;
    border-bottom: 1px solid #323339;
}
.container.dark .con-area .con-box-area:first-child .con-box_top {
    border-left: 0;
}

.container.dark .con-box {
    color: #a1a1a1;
    background: #212127;
    border-left: 1px solid #323339;
}

.container.dark .table-title {
    color: #cfcfd7;
}
.container.dark .title_icon {
    background: #56555a;
}
.container.dark .search-bg {
    background: #302f32;
}

.container.dark .con-area .con-box-area .con-box_bottom {
    border-left: 1px solid #323339;
    border-top: 1px solid #323339;
}
.container.dark .con-area .con-box-area:first-child .con-box_bottom {
    border-left: 0;
}

/* 펼침+접힘 버튼(체크박스) */
.container.dark .btn_downup + label {
    background: rgba(255,255,255,.15);
}

/* 펼침+접힘 버튼(button) */
.container.dark .btn_up {
    color: #fff;
    background: rgba(255,255,255,.1);
}

/* 상세보기(숨김) */
.container.dark div[class*="detailview"] {
    background: #302f32;
    visibility: hidden; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 12px; border: 1px solid #47474d;
    opacity: 0; max-height: 0;
    overflow: hidden;
    transition: all 0.1s;
}
.container.dark div[class*="detailview"].show {visibility: visible;
    opacity: 1; max-height: 100%;
    overflow: visible;
    transition: all 0.25s;
}
/* ============
*  모달 팝업 설정
* ============= */
.container.dark section[class*="modal"] {
    background: #212127;
    overflow: hidden;
}
.container.dark section[class*="modal"] .con-box_top {
    border-bottom: 1px solid #323339;
}
.container.dark .dim {
    background: rgba(70,70,75,0.5);
}
/* 모달 팝업 new */
.container.dark div[class*="back000"] {
    background: rgba(70,70,75,0.5);
}
.container.dark div[class*="modal-"] {
    background: #212127;
}
.container.dark div[class*="modal-"] .con-box {
    border: 0;
}

/* 검색 Search Design */
.container.dark .search_w-btn input + button .fa {
    color: #fff;}
.container.dark .search_w-btn input:focus + button .fa,
.container.dark .search_w-btn input + button:focus .fa,
.container.dark .search_w-btn input + button:active .fa {
    color: #0361ff;
}

/* 검색 결과 */
.container.dark .s-result {
    background: #302f32;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.4);
}
.container.dark .s-result.show {
    visibility: visible;
    height: auto;
    transition: all .25s;
}
.container.dark .s-result p~p {
    border-top: 1px solid #47474d;
}
.container.dark .search_w-btn + .s-result p:hover {
    background: #212127;
}
.container.dark .search_w-btn + .s-result .key {
    background: rgba(3,97,255,.8);
}

.container.dark .txt_result {
    color: #fff;
}

/* 탭in탭 Design */
.container.dark div[class*="tabintab-"] ul li a {
    border: 1px solid #47474d;
    border-bottom: 0;
    background: rgba(71,71,77,.7);
}
.container.dark div[class*="tabintab-"] ul li a:hover {
    color: #FFF; 
    transition: all .25s;
}
.container.dark div[class*="tabintab-"] ul li.on a {
    background: #6e6e78;
    border: 0;
    border-bottom: 0;
}

.container.dark .con_intab {
    border: 1px solid #47474d;
}

/* ===========
 * 지식검색 KMS
 * =========== */
/* 지식검색 input */
.container.dark .kms-search_area button:hover *,
.container.dark .kms-search_area button:focus * {color: #0361ff;}
/* 지식검색 box */
.container.dark .kms-box {
    border: 1px solid #47474d;
}
.container.dark .kms-box .know_cont {
    background: #302f32;
}
.container.dark .kms-box .know_title .k-ico {
    background: #56555a; color: rgba(255,255,255,0.8);
}
.container.dark .kms-box .know_title .txt *:first-child {
    color: #FFF;
}

/* 이관 - 담당자, 참조자 리스트 */
.container.dark .invited-list p {
    border: 1px solid rgba(255,255,255,.3);
    background: rgba(255,255,255,.2);
    color: #FFF;
}
.container.dark .invited-list p span {
    opacity: .5;
}
.container.dark .invited-list p span:hover {
    color: #FFF; opacity: 1;
}

.container.dark .dropZoneDiv {
    color: #a1a1a1;
}

/* 타이틀 아이콘 - 디자인 설정 추가 */
.container.dark .title_icon[class*="c-"] { 
    box-shadow: 0 0 0 2px rgba(255,255,255,0.2) inset;
}
.container.dark .title_icon.mini[class*="c-"] { 
    box-shadow: 0 0 0 1.5px rgba(255,255,255,0.2) inset;
}

/* 파일 첨부 디자인 */
.container.dark .dropZoneDiv {
    border-color: #47474d;
}

/* ===================
 * 문자메시지 전송 design
 * =================== */
.container.dark .info-msg input {
    background: transparent;
}
.container.dark .msg-l .msg-box {
    background: #141518;
}
.container.dark .msg-r .msg-box {
    background: #47474d;
    color: #ebebf0;
}

/* 마우스오버 - 드롭다운 */
.container.dark .hover_down span + div {
    background: #47474d;
    box-shadow: 0px 10px 50px rgb(0 0 0 / 24%);
}
.container.dark .hover_down span + div:before {
    border-bottom: 6px solid #47474d;
}
.container.dark .call_view:hover {
    background: #302f32;
}

/* =========================
 * 대용량 문자발송 page design
 * ========================= */
.container.dark .phone_top {display: block; 
    width: 100%; height: 65px;
    background: url(../images/phone_top_dark.png) no-repeat 0 0;
    background-size: 320px 65px;
}
.container.dark .phone_middle {
    background: url(../images/phone_middle_dark.png) no-repeat 0 0;
    background-size: 320px;
}
.container.dark .phone_middle_bg { 
    padding: 0 32px;
    background: url(../images/phone_back_dark.png) repeat-y 0 0;
    background-size: 320px;
}
.container.dark .phone_bottom {display: block; 
    width: 100%; height: 60px;
    background: url(../images/phone_bottom_dark.png) no-repeat 0 0;
    background-size: 320px 60px;
}

.container.dark .btn_msg {flex: 1;
    border: 1px solid #6e6e78;
    background: #302f32; color: #B2B2B2; 
}
.container.dark .btn_msg:hover {background: #47474d; color: #FFF;}
.container.dark .btn_msg.checked {background: #6e6e78; color: #FFF;}
.container.dark .msg_btn-area button~button {border-left: 0;}

.container.dark .sms_merge {
    border: 1px solid #6e6e78; 
}
.container.dark .sms_merge span~span {border-left: 1px solid #6e6e78;}
.container.dark .sms_merge span:hover {
    background: #47474d;
    color: #FFF;
}

.container.dark .btn_q {background: transparent;
}
.container.dark .btn_qna {
    background: #47474d;
    border: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}
.container.dark .btn_qna:after {
    border-top: 6px solid #47474d;
}
.container.dark .btn_qna span {color: #FFF;}
.container.dark .btn_qna table { color: #A1A1A1;
    border: 1px solid #A1A1A1; 
}
.container.dark .btn_qna table th {
    border-right: 1px solid #A1A1A1;}
.container.dark .btn_qna table td {background: transparent;}

/* table_추가 디자인 */
.container.dark .table_sort:before { 
    color: #FFF;}
.container.dark .table_sort:after { 
    color: #FFF;
}
.container.dark .th_change {background: #6e6e78 !important;
}
/* 모니터링 - 테이블 설정 */
.container.dark .td_backpoint {
    background: #6e6e78; color: #fff; 
}
.container.dark .td_longtime {
    background: rgb(241 93 111 / 20%);
}
/* 상태 - 상세시간 보기 */
.container.dark tr.time-view td { border: 0;
}
.container.dark tr.time-view.show td {
   border-bottom: 1px solid #47474d; 
}
/* 상세시간 table */
.container.dark .tbl_time-view th,
.container.dark .tbl_time-view td {
    background: #302f32; color: #eeedf0;
}
/* 상담현황 - 감청 icon + STT icon 설정 */
.container.dark .chanSpy_disable {
    color: #47474d !important;
}
.container.dark .chanSpy_able {
    color: #6e6e78 !important;
}
.container.dark .chanSpy_able:hover {
    color: #EEEDF0 !important;
}

/* 테이블2 (테이블형) */
.container.dark .con-list2 tr {height: 40px;}
.container.dark .con-list2 th {
    background: #47474d; border-bottom: 1px solid #5c5c64;
    color: #eeedf0;
}
.container.dark .con-list2 td {
    border-bottom: 1px solid #47474d;
}
.container.dark .con-list2 th, .container.dark .con-list2 td {
    padding: 0.6em 12px;
    border-left: 1px solid #47474d; 
}
/* 첨부파일 디자인*/
.container.dark .attach-file .filename {
    background: rgba(192,192,192,.2);
    color: #c0c0c0;
    border: 1px solid #c0c0c0;
}

/* ==============================
 * 상담유형 선택 design - 아코디언ver.  
 * ============================== */
.container.dark .cate_li {
    background: #47474d;
    color: #EEEDF0;
}
.container.dark .cate_li div~div {
    border-left: 1px solid #5c5c64;
}
.container.dark .cate_li div ul li:hover {
    background-color: #302f32 !important;
}
.container.dark .cate_li div ul li.checked {
    background-color: #302f32;
}
.container.dark .cate_li div:last-child ul li.checked {
    background: transparent;
}

/* =================
 * 채팅상담 화면 design
 * ================== */
.container.dark .chat_list {
    border-bottom: 1px solid #47474d;
}
.container.dark .chat_list:hover {
    background: #141518;
    color: #EEEDF0;
}
.container.dark .chat_list.active {
    background-color: #334596;
    color: #fff;
}
  /* 채팅상담 대화 화면 */
.container.dark .chat-box2 {
    background: #47474d;
}
.container.dark .chat-box_top {
    background-color: inherit;
}
.container.dark .name-tab {
    color: #ebebf0;
    border-bottom: 1px solid #575759;
}
.container.dark .name-tab.is_on {
    background: #47474d;
}

.container.dark .tab-close span {
    background: #a1a1a1;
}
.container.dark .name-tab.is_on .tab-close:hover span {background: #ebebf0;
}

.container.dark .chat_info {
    border-bottom: 1px solid #575759;
}

.container.dark .chat_bottom-area.cti {
    border-top: 1px solid #575759;
}
/* 말풍선 */
.container.dark .chat_area .from-them:before {
    left: 12px; top: 12px;
    width: 24px; height: 24px;
    background: url(./images/from-them_dark.png) no-repeat;
    background-size: 24px; opacity: 0.4;
}
.container.dark .them {
    background: #302f32;
    color: #cfcfd7;
}
.container.dark .them:after {
    border-top: 12px solid #302f32;
}
.container.dark .me {
    background: #6e6e78; color: #fff;
}
.container.dark .me:after {
    border-bottom: 12px solid #6e6e78;
}
.container.dark .btn_modal1 {
    background: transparent;
}
.container.dark .btn_modal1:hover {
    background: #667FFF;
}


/* =======================================
 * ## 채팅상담 ## - 디자인 추가## - 2022-03-29
 ======================================== */
.container.dark .me_chat {background: #302f32;
}
.container.dark .chat_inout-tab {
    background: #6e6e78;
}
.container.dark .chat-tab {
    background: #6e6e78; color: #fff;
}
.container.dark .chat-tab.selected {
    background: #302f32;
}
.container.dark .chat-tab.selected:after {
    background: #0361ff;
}
.container.dark .chat_inout-tab .chat-tab:nth-child(2).selected:after {
    background: #A84A7F;
}
.container.dark .me_chat textarea {
    border-top-left-radius: 0;
    border: 0;
}
.container.dark .me_chat textarea:focus {
    border: 1px solid #0361ff;
    box-shadow: 0 0 0 0.5px rgba(0, 97, 255, 1);
}
.container.dark .me_chat .btn_chat-send {
    background: #0361ff;
}
.container.dark .me_chat .btn_chat-file {
    background: transparent;
}
.container.dark .me_chat .btn_chat-file:hover {color: #FFF;
    background: rgba(255,255,255,.1);
    box-shadow: none;}
.container.dark .btn_guide {
    background: rgba(255,255,255,.1);
    color: #FFF;
}
.container.dark .chat_bottom-area .btn-st5 {
    background: #6e6e78; color: #fff;
}

/* 상담원 초대 알림 */
.container.dark .chat-invited span {
    display: inline-block;
    padding: 0 16px; 
    height: 30px; 
    line-height: 30px; border-radius: 30px;
    background: #302f32; color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* 상담원 초대하기 팝업 ==modal-공통디자인== */
.container.dark div[class*="in-modal"] {
    background: #212127;
}
.container.dark .modal_top {
    color: #EBEBF0;
}

/* ##### 채팅종료 모달 팝업 ##### */
.container.dark div[class*="modal_chat-end"] { 
    background: #212127;
}
.container.dark div[class*="modal_chat-end"] p {
    color: #cfcfd7;
}
.container.dark .dim1, 
.container.dark .dim2, 
.container.dark .dim3, 
.container.dark .dim4 {
    background: rgba(55,55,60,0.5);
}

/* -----------------------------------
 * 상담원 말풍선 및 아이콘 Color 응용 - 추가  
 * ----------------------------------- */
.container.dark .invite1 .them, .container.dark .invite1 .me {
    background: #4497BD; color: #FFF;}
.container.dark .invite1 .them:after {
    border-top: 12px solid #4497BD;}
.container.dark .invite1 .me:after {
    border-bottom: 12px solid #4497BD;
}

.container.dark .invite2 .them, .container.dark .invite2 .me {
    background: #444B8E; color: #FFF;}
.container.dark .invite2 .them:after {
    border-top: 12px solid #444B8E;}
.container.dark .invite2 .me:after {
    border-bottom: 12px solid #444B8E;
}
.container.dark .invite3 .them, .container.dark .invite3 .me {
    background: #A84A7F; color: #FFF;}
.container.dark .invite3 .them:after {
    border-top: 12px solid #A84A7F;}
.container.dark .invite3 .me:after {
    border-bottom: 12px solid #A84A7F;
}

.container.dark .invite4 .them, .container.dark .invite4 .me {
    background: #1F9389; color: #FFF;}
.container.dark .invite4 .them:after {
    border-top: 12px solid #1F9389;}
.container.dark .invite4 .me:after {
    border-bottom: 12px solid #1F9389;
}

.container.dark .invite5 .them, .container.dark .invite5 .me {
    background: #50256F; color: #FFF;}
.container.dark .invite5 .them:after {
    border-top: 12px solid #50256F;}
.container.dark .invite5 .me:after {
    border-bottom: 12px solid #50256F;
}